*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
.navbar{
	position: relative;
	background-color: white;
	border: none;
	margin-bottom: 0;
}

.logo{
	margin-left: 50px;
}

.nav{
	margin-right: 50px;
	padding: 10px 20px;
}

/* HEADER */
.hero{
	background-image: url('../img/taxi.jpg');
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.cuadro{
	background-color: #F7B617;
	padding: 15px;
	color: white;

	margin-top: 200px;
}

.cuadro h3,h4,h5{
	margin-left: 20px;
	padding: 7px 0;
}

.cuadro img{
	width: 60px;
}

.cuadro input{
	background-color: #F7B617;
	border: none;
	border-bottom: 1px solid white;
	margin: 0 15px 20px 20px;
	padding-top: 15px; 
}

.cuadro button{
	color: black;
	background-color: whitesmoke;
	margin: 15px 0 25px 20px;
}

/* INFORMACIÓN */
.info{
	background-color: #F7B617;
	color: white;
	padding: 40px 250px 40px 0;
}

.info .contenido{
	border: 1px solid white;
	border-left: none;
	padding: 30px 0;
}

.info .contenido img{
	width: 300px;
	padding: 10px;
}

.info .contenido h3{
	font-size: 30px;
}

.info .contenido p{
	font-size: 20px;
}

/* CONDUCE */
.conduce{
	background-image: url('../img/conduce.jpg');
	height: 70vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}