*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
.navbar{
	position: relative;
	background-color: white;
	border: none;
	margin-bottom: 20px;
}

.logo{
	margin-left: 50px;
}

.nav{
	margin-right: 50px;
	padding: 10px 20px;
}

/* HEADER */
.hero{
	background-image: url('../img/taxi.jpg');
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.cuadro{
	background-color: #F7B617;
	padding: 15px;
	color: white;

	margin-top: 200px;
}

.letter{
	margin-left: 10px;
	padding: 7px 0;
}

.cuadro img{
	width: 60px;
}

.cuadro input{
	background-color: #F7B617;
	border: none;
	border-bottom: 1px solid white;
	margin: 0 15px 20px 20px;
	padding-top: 15px; 
}

.conductor{
	color: black;
	background-color: whitesmoke;
	margin: 15px 0 25px 20px;
}


/* INFORMACIÓN */
.info{
	background-color: #F7B617;
	color: white;
	padding: 40px 250px 40px 0;
}

.info .contenido{
	border: 1px solid white;
	border-left: none;
	padding: 30px 0;
}

.info .contenido img{
	width: 300px;
	padding: 10px;
}

.info .contenido h3{
	font-size: 30px;
}

.info .contenido p{
	font-size: 20px;
}

/* CONDUCE */
.conduce{
	background-image: url('../img/conduce.jpg');
	height: 60vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.conduce .transparencia{
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 80px 20px 150px;
}

.conduce .transparencia h3{
	font-size: 25px;
}

.conduce .transparencia p{
	font-size: 17px;
}

.conduce .transparencia button{
	background-color: #F7B617;
	font-size: 17px;
}

/* TARIFA */
.tarifa{
	background-color: #F7B617;
}

.tarifa .tarifario{
	margin: 80px 0 80px 80px;
}

.text-tarifa{
	color: white;
}

.controls::placeholder{
	color: white;
}

.tarifa button{
	background-color: white;
	padding: 5px;
	margin: 20px 80px;
}

#map{
	width: 40%;
	height: 65vh;
	border: 2px solid white;
	margin: 50px 0;
	padding: 15px;
}

#origin-input,
#destination-input {
	background-color: #F7B617;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	padding: 7px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-right: 15px;
}

#origin-input:focus,
#destination-input:focus {
	border-color: #4d90fe;
}

#mode-selector {
	margin-left: 12px;
	padding: 5px 11px 0px 11px;
}

#mode-selector label {
	font-size: 13px;
	font-weight: 300;
}

/* FOOTER */
footer{
	background-color: #2B2B2B;
}

.footer-logo{
	margin-top: 50px;
}

.icon-fa{
	margin-top: 230px;
	margin-left: 20px;
}

.fa{
	color: white;
	padding-right: 10px;
}

footer ul li{
	list-style: none;
	margin: 10px 0;
}

.lista,
.fin{
	color: white;
}

.lista:hover{
	color: #DEDEDE;
	border: none;
	font-weight: 200;
}

.fin{
	margin-bottom: 50px;
}

.link-footer{
	margin-top: 100px;
}

.lista-footer{
	margin-left: 30px;
}